* {
  text-decoration: none;
  padding: 0;
  margin: 0; }

body {
  width: 100%;
  height: 100%; }

h1, h2, h3, h4 {
  font-family: 'Karma', serif; }

.container {
  width: 1000px;
  margin: 0 auto; }

header {
  width: 100vw;
  height: 100vh;
  background-color: #171b36;
  padding-top: 73px;
  padding-left: 82px;
  padding-right: 82px;
  margin-bottom: 84px; }

.logo a {
  font-family: 'Bevan', cursive;
  font-size: 42px;
  color: #fff;
  text-decoration: none; }

.header-info {
  margin-top: 90px; }
  .header-info h1 {
    text-align: center;
    color: #fff;
    margin-top: 200px; }

.header-links button {
  color: #fff;
  text-decoration: none;
  outline: none;
  padding: 9px 40px;
  background-color: #ff1732;
  border-radius: 20px;
  font-size: 12px;
  margin-right: 20px;
  outline: none;
  border: none;
  margin: 0 auto; }

.header-links button:nth-child(2) {
  background-color: #1b2e39; }

.wrap {
  position: relative; }
  .wrap .menu-burger {
    position: absolute;
    top: 0;
    right: 0; }
    .wrap .menu-burger span {
      display: block;
      width: 45px;
      height: 2px;
      background-color: #fff; }
    .wrap .menu-burger span:nth-child(2) {
      margin-top: 17px; }
    .wrap .menu-burger span:nth-child(3) {
      margin-top: 19px; }

.section-2 {
  padding-bottom: 84px; }
  .section-2 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px; }
  .section-2 h4 {
    margin-bottom: 35px;
    text-align: center; }
  .section-2 p {
    text-align: center;
    font-size: 12px; }

.section-3 {
  background-image: url(img/bg3.jpg);
  width: 100%;
  padding-top: 115px; }
  .section-3 p {
    color: #fff; }
  .section-3 h3 {
    color: #fff; }
  .section-3 .box1, .section-3 .box2 {
    width: 145px;
    height: 145px;
    border: 1px solid #fff;
    display: inline-block;
    margin-bottom: 115px; }

.section-4 {
  margin-top: 115px;
  margin-bottom: 115px; }

.section-4-text button {
  color: #fff;
  outline: none;
  padding: 9px 45px;
  background-color: #ff1732;
  border-radius: 20px;
  font-size: 12px; }

.section-4-text h2 {
  line-height: 70px;
  margin-bottom: 30px; }

.section-4-text p {
  font-size: 12px;
  line-height: 30px; }

.section-4-img img {
  width: 440px;
  margin-left: 20px; }

footer {
  height: 116px;
  position: relative;
  background-color: #25323c; }
  footer .footer-logo {
    font-family: 'Bevan', cursive;
    font-size: 42px;
    color: #fff;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }

.social a {
  margin-right: 35px;
  font-size: 25px;
  color: #fff;
  text-align: center; }
